@model BodyContentViewModel
@{
    var peer = ViewData["Peer"] as PinkUmbrella.Models.Peer.PeerModel;
}
<h1>Viewing Peer @peer.DisplayName (@peer.Address on port @peer.AddressPort)</h1>
@Html.Raw(Model.Html)