@inject Markdig.MarkdownPipeline mdPipeline
@model Tides.Core.BaseObject
@if (!string.IsNullOrWhiteSpace(Model.content ?? Model.summary))
{
<p>@Html.Raw(Markdig.Markdown.ToHtml(Model.content ?? Model.summary, mdPipeline))</p>
}