@using seattle.ViewModels.Home
@model PostModel
@switch (Model.PostType)
{
    case PostType.Text:
    <partial name="_PostText" />
    break;
    default:
    <div>No view for @Model.PostType</div>
    break;
}