@model StatusViewModel
<div class="alert alert-@Model.AlertType alert-dismissible fade show text-center" role="alert" >
    @Model.Message
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>