@model Estuary.Activities.Common.Create
<p>
    <partial name="Person/Goto" model="Model.actor?.items?.FirstOrDefault()" />
    Created a @Model.obj.type <partial name="_Timestamp" model="Model.published" />
    <partial name="_VisibilityStatus" />
</p>
<partial name="@Model.obj.BaseType/_Container" model="@Model.obj" />