@model Estuary.Activities.Common.Create
<div class="card-title">
    <partial name="Person/Goto" model="Model.from?.items?.FirstOrDefault()" />
    created a @Model.obj.type.ToLower() <partial name="_Timestamp" model="Model.published" />
    <partial name="_VisibilityStatus" />
</div>
<div class="card-body">
    <partial name="@Model.obj.BaseType/_Container" model="@Model.obj" />
</div>