@model Tides.Core.BaseObject
<div class="contains-goto">
    <i class="fas fa-box-open"></i>
    <a class="goto" asp-controller="Inventory" asp-action="Index" asp-route-id="@Model.id">goto</a>
    <b>@Model.DisplayName</b>
    <span>&bull; @Model.summary</span>
    <span style="float: right">Created <partial name="_Timestamp" model="@Model.published" /></span>
</div>