@model PublicProfileModel
<div class="contains-goto">
    <i class="fas fa-user-circle"></i>
    <a class="goto" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.PublicId">goto</a>
    <b>@Model.DisplayName</b>
    <i>@@@Model.Handle</i>
    <span>&bull; @Model.Bio</span>
    <span style="float: right">Joined <partial name="_Timestamp" model="@Model.WhenCreated" /></span>
</div>