@model Estuary.Actors.ActorObject
<div class="contains-goto">
    <i class="fas fa-user-circle"></i>
    <a class="goto" asp-controller="Person" asp-action="Index" asp-route-id="@Model.PublicId">goto</a>
    <b>@Model.name</b>
    <i>@@@Model.Handle</i>
    <span>&bull; @Model.summary</span>
    <span style="float: right">Joined <partial name="_Timestamp" model="@Model.published" /></span>
</div>