@model ShopModel
<div class="contains-goto">
    <i class="fas fa-store"></i>
    <a class="goto" asp-controller="Shop" asp-action="Index" asp-route-handle="@Model.Handle">goto</a>
    <b>@Model.DisplayName</b>
    <span>&bull; @Model.Description</span>
</div>