<ul style="display: grid; grid-template-columns: 1fr 1fr;">
    <li>One digit</li>
    <li>One lowercase letter</li>
    <li>One uppercase letter</li>
    <li>One special character</li>
    <li>Minimum 6 characters</li>
</ul>