@{
    ViewData["Title"] = "Forgot Password";
}
<h1>@ViewData["Title"]</h1>
<div style="display: grid; grid-template-columns: 1fr 1fr">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <h3>Send Password Reset Email</h3>
        <div asp-validation-summary="All"></div>
        <label for="email">Email</label>
        <input type="text" name="email" /><br />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    @if (await _settings.FeatureManager.IsEnabledAsync(nameof(FunctionUserLoginRecoveryKey)))
    {
    <form asp-controller="Account" asp-action="LoginViaRecoveryKey" method="post">
        <h3>Login via recovery key</h3>
        <label for="email">Email</label>
        <input type="text" name="email" /><br />

        <label for="email">Recovery Key</label>
        <input type="text" name="code" type="password" /><br />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    }
</div>