@using Microsoft.AspNetCore.Http.Features
@using PinkUmbrella.Services;
@model PinkUmbrella.ViewModels.Account.IndexViewModel
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
    ViewData["Title"] = "Account";
}
@*Html.Partial("_StatusMessage", Model.StatusMessage)*@
<partial name="_Header" />
<div class="row">
    <div class="col-md-6">
        @if (await _settings.FeatureManager.IsEnabledAsync(nameof(FunctionUserUpdateAccount)))
        {
        <partial name="_AccountForm" />
        }
        else
        {
            <p>Updating account has been turned off.</p>
        }
    </div>
    <div class="col-md-6">
        @if (await _settings.FeatureManager.IsEnabledAsync(nameof(FunctionUserUpdateProfile)))
        {
        <partial name="_ProfileForm" />
        }
        else
        {
            <p>Updating profile has been turned off.</p>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
