@using PinkUmbrella.ViewModels.Archive
@model UploadMediaViewModel
@{
    var visibilities = new EnumViewModel() { Type = typeof(Visibility), Selected = Visibility.VISIBLE_TO_REGISTERED };
}
<h4>Upload media</h4>
@if (await _settings.FeatureManager.IsEnabledAsync(nameof(FunctionArchiveUpload)))
{
<form asp-action="Upload" asp-controller="Archive" enctype="multipart/form-data" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <dl>
        <dt>
            <label asp-for="Files"></label>
        </dt>
        <dd>
            <input name="Files" type="file" multiple />
            <span asp-validation-for="Files"></span>
        </dd>
    </dl>
    <dl>
        <dt>
            <label asp-for="Visibility"></label>
        </dt>
        <dd>
            <select name="Visibility" class="form-control" autocomplete="off">
                <partial name="_EnumOptions" model="visibilities" />
            </select>
            <span asp-validation-for="Visibility"></span>
        </dd>
    </dl>
    <dl>
        <dt>
            <label asp-for="Title"></label>
        </dt>
        <dd>
            <input asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </dd>
    </dl>
    <dl>
        <dt>
            <label asp-for="Description"></label>
        </dt>
        <dd>
            <input name="Description" />
            <span asp-validation-for="Description"></span>
        </dd>
    </dl>
    <button type="submit" class="btn btn-primary"><i class="fas fa-upload"></i> Upload</button>
</form>
}
else
{
    <p>Uploading media has been turned off by site admin.</p>
}