<h3>Give Access to Group</h3>
<form method="POST">
    <label for="toUserId">To User Id</label>
    <input name="toUserId" type="number" required>
    <label for="group">Group</label>
    <input name="group" type="text" required>

    <button type="submit">Submit</button>
</form>