@using PinkUmbrella.ViewModels.Inventory
@model NewResourceViewModel

<hr />
<h3>Create New Resource</h3>
<form asp-action="NewResource" asp-controller="Inventory" method="POST">
    <input type="hidden" value="@Model.Resource.InventoryId" name="Resource.InventoryId" />
    <partial name="_NewResourceFields" />
</form>