@using sPinkUmbrellaViewModels.Inventory
@model IndexViewModel
@{
    ViewData["Title"] = "Inventory";
}

@if (Model.Inventories.Any()) {
<div>
    <partial name="_InventoryList" />
    <h1>Resources from all inventories</h1>
    <partial name="_ResourceList" model="Model" />
</div>
<partial name="_NewResourceIndex" />
} else {
<partial name="_NewInventory" model="Model.NewInventory" />
}