@model Estuary.Core.BaseObject
<div class="contains-ajax show center-xy">
    <p>
        <span>You have ignored this content.</span>
        <a class="ajax" asp-action="UnIgnore" asp-controller="Media" asp-route-id="@Model.PublicId" data-response-type="html" data-response-handler="replacewith">View content</a>
    </p>
</div>