@model Tides.Core.BaseObject
@{
    var reactLike = new ReactViewModel() {
        Type = ReactionType.Like,
        Subject = ReactionSubject.Post,
        ToId = Model.PublicId,
        HasReacted = Model.HasLiked,
        Count = Model.LikeCount,
        ViewerId = Model.ViewerId,
        Enabled = !Model.ViewerIsPublisher,
    };
    var reactDislike = new ReactViewModel() {
        Type = ReactionType.Dislike,
        Subject = ReactionSubject.Post,
        ToId = Model.PublicId,
        HasReacted = Model.HasDisliked,
        Count = Model.DislikeCount,
        ViewerId = Model.ViewerId,
        Enabled = !Model.ViewerIsPublisher,
    };
    var reactBlock = new ReactViewModel() {
        Type = ReactionType.Block,
        Subject = ReactionSubject.Post,
        ToId = Model.PublicId,
        HasReacted = false,
        Count = Model.BlockCount,
        ViewerId = Model.ViewerId,
        Enabled = !Model.ViewerIsPublisher,
        ManualReactionUrl = "/Post/Block/" + Model.PublicId,
        ResponseHandler = "post-replacewith",
    };
    var reactReport = new ReactViewModel() {
        Type = ReactionType.Report,
        Subject = ReactionSubject.Post,
        ToId = Model.PublicId,
        HasReacted = false,
        Count = Model.ReportCount,
        ViewerId = Model.ViewerId,
        Enabled = !Model.ViewerIsPublisher,
        ManualReactionUrl = "/Post/Report/" + Model.PublicId,
        ResponseHandler = "post-replacewith",
    };

    var reactions = new List<ReactViewModel>() {
        reactLike, reactDislike, reactBlock, reactReport,
    };

    var tags = new TagEditorViewModel() { Tags = Model.tag };
}
<div class="contains-goto post">
    <a class="goto" asp-controller="Post" asp-action="Index" asp-route-id="@Model.PublicId">goto</a>
    <p>
        <partial name="Profile/Goto" model="Model.UserId" />
        &bull; <partial name="_Timestamp" model="Model.published" />
        <partial name="_VisibilityStatus" />
    </p>
    
    <partial name="Post/@Model.type" />
    
    
    @if (Model.to.items.Count > 0)
    {
        <span>Mentions:</span>
        <ul>
            @foreach (var mention in Model.to.items) {
                <li class="contains-goto">@mention.name<a class="goto" asp-controller="Profile" asp-action="Index" asp-route-id="@mention.id">goto</a></li>
            }
        </ul>
    }
    <partial name="Button/ReactButtonList" model="reactions" /></li>
    <partial name="Tag/Display" model="tags" />
</div>