@model Tides.Core.CollectionObject
@if (Model.items.Count > 0)
{
    foreach (var result in Model.items) {
        <partial name="Post/_Container" model="result" />
        <hr />
    }
}
else
{
    <p>No posts to show.</p>
}