@model Estuary.Core.CollectionObject
@if (Model.items.Count > 0)
{
    foreach (var result in Model.items)
    {
        <partial name="@result.BaseType/_Container" model="result" />
    }
}
else
{
    <p>No posts to show.</p>
}