@{
    ViewData["Title"] = "Upload";
    var m = new PinkUmbrella.ViewModels.Archive.UploadMediaViewModel();
}
<partial name="_Header" />
<div>
    <partial name="_UploadMediaForm" model="m" />
</div>
