@using PinkUmbrella.ViewModels.Home
@model NewPostViewModel
<form asp-action="NewPost" asp-controller="Post" method="POST" class="js-new-post-form">
    <label asp-for="Visibility" title="@Model.GetPropertyDescription(nameof(Model.Visibility))"></label>
    <select asp-for="Visibility" class="form-control" autocomplete="off">
        <partial name="_EnumOptions" model="new EnumViewModel() { Type = typeof(Visibility), Selected = Model.Visibility }" />
    </select>
    <span asp-validation-for="Visibility" class="text-danger"></span>
    <button type="submit" class="btn btn-primary text-nowrap"><i class="fas fa-paper-plane" style="margin-right:.5rem"></i> Post</button>
    <label asp-for="Content"></label>
    <textarea asp-for="Content" placeholder="Speak your message..." class="form-control js-item-editable js-tag-editor js-user-handle-editor" autocomplete="off"></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
</form>