<h3>What is Pink Umbrella?</h3>
<div style="display: grid; grid-template-columns: repeat(3, 1fr); align-items: center; justify-items: center; grid-gap: 1.5rem 1rem; margin: 2rem 1rem;">
    <i class="far fa-comments fa-4x"></i>
    <i class="fas fa-people-carry fa-4x"></i>
    <i class="fas fa-balance-scale fa-4x"></i>
    <h5>Public / Private Discussions &<br />Community Coordination</h5>
    <h5>Resource Management &<br />Local Business Support</h5>
    <h5>Media Archive &<br/>Community Justice</h5>
    <p class="text-justify">
        Listen to the community or share your thoughts privately, publicly, or with anyone else.
    </p>
    <p class="text-justify">
        Share supplies with your neighbors or donate to supporting community members.
    </p>
    <p class="text-justify">
        Hold public officials and worker of the state accountable to community sourced evidence and demands.
    </p>
    <ul class="pl-0 text-left">
        <li>Follow other users&apos; posts</li>
        <li>Mention other users&apos; in your posts</li>
        <li>Get notifications or notify your followers</li>
        <li>Explore community discussions and topics</li>
    </ul>
    <ul class="pl-0 text-left">
        <li>Create inventories and track resources</li>
        <li>Virtual store fronts for local business</li>
        <li>Link to your site, menu, or donation pages</li>
        <li>Shop local and explore business in your area</li>
    </ul>
    <ul class="pl-0 text-left">
        <li>Upload & explore community generated media</li>
        <li>Contribute and vote on community demands</li>
        <li>We can mend the loose ends of injustice as an organized, progressive society</li>
    </ul>
</div>

<h3>Why Pink Umbrella?</h3>
<p>Pink Umbrella was created out of the community needs at Seattle's Capitol Hill Occupy Protest (CHOP), formerly known as CHAZ. The Pink Umbella during <a href="https://southseattleemerald.com/2020/06/08/police-use-tear-gas-on-capitol-hill-protestors-allegedly-misuse-explosive-crowd-control-devices-in-medic-tent/" target="_blank">Chief Best's and Mayor Jenny's repeated use of tear gas and pepper spray on the Capitol Hill community</a> has become a symbol of solidarity and non-violent protest against a violent police state, which is why in that spirit we have created open source software to support non-violent protests and the Black/Trans Lives Matter movement.</p>

<p>
    Our core values written by the community are to <b>prioritize privacy, transparency, and communication within the community</b>, and we have done that in the following ways:
    <ul>
        <li>We have open sourced our goals and features list <a href="@_strings.CommunityDocUrl" target="_blank">here</a>.</li>
        <li>We have open sourced our code <a href="@_strings.GitHubUrl" target="_blank">here</a>. Contributors, technical and non-technical are welcomed and encouraged.</li>
        <li>We have opened many communication channels for direct communication with the community.</li>
    </ul>
</p>
<h3>Our Team</h3>
<p>
    Our team is a collective of locals who want to support their local community with the skills they have developed and perfected.
    We all have parts we can play in supporting the movement for justice and peaceful protesting.
    You can view individual contributors <a href="@_strings.ContributorsUrl" target="_blank">here</a>.
</p>