@model Estuary.Actors.ActorObject
@if (Model != null)
{
<a style="display: inline" asp-controller="Person" asp-action="Index" asp-route-id="@Model.PublicId">
    <b>@Model.name</b>
    <i>@@@Model.Handle</i>
</a>
}
else
{
    <span><i class="fas fa-user-slash"></i> User N/A</span>
}