@model PaginatedModel<ArchivedMediaModel>
@if (Model.Items.Count > 0)
{
    foreach (var result in Model.Items) {
        <partial name="ArchivedMedia/_Container" model="result" />
        <hr />
    }
}
else
{
    <p>No archived media to show.</p>
}