@using PinkUmbrella.ViewModels.Home
@model NewPostViewModel
<form asp-action="NewPost" asp-controller="Post" method="POST" style="justify-items: center;display: grid;">
    <div class="row col-md-10 form-group" title="@Model.GetPropertyDescription(nameof(Model.Visibility))">
        <div class="col-md-2">
            <label asp-for="Visibility"></label>
        </div>
        <div class="col-md-3">
            <select asp-for="Visibility" class="form-control">
                <partial name="_EnumOptions" model="new EnumViewModel() { Type = typeof(Visibility), Selected = Model.Visibility }" />
            </select>
            <span asp-validation-for="Visibility" class="text-danger"></span>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-1">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </div>
    </div>
    <div class="row col-md-10 form-group" title="@Model.GetPropertyDescription(nameof(Model.Content))">
        <div class="col-md-2">
            <label asp-for="Content"></label>
        </div>
        <div class="col-md-10">
            <input asp-for="Content" placeholder="Speak your message..." class="form-control"/>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
</form>