@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Our core values are to <b>prioritize privacy, transparency, and communication within the community</b>, and we have done that in the following ways:
        <ul>
            <li>We have open sourced our goals and features list <a href="https://docs.google.com/document/d/13RdzrgGWLu21BfCVKf5BBSJgpk2cvhixYOZnRv1bITM/edit#" target="_blank">here</a>.</li>
            <li>We have open sourced our code <a href="https://github.com/viveret/seattle" target="_blank">here</a>. contributors welcomed and encouraged.</li>
            <li>We have opened many communication channels for direct communication with the community.</li>
        </ul>
    </p>
    <h4>Our Team</h4>
    <p>
        Our team is a collective of locals who want to support their local community with the skills they have developed and perfected.
        We all have parts we can play in supporting the movement for justice and peaceful protesting.
        You can view individual contributors <a href="https://github.com/viveret/seattle/graphs/contributors" target="_blank">here</a>.
    </p>
</div>