@{
    ViewData["Title"] = "CHAZ";
}

<div class="text-center">
    <h1>Welcome to @_strings.SiteName</h1>
    <p>The community's motto: <strong>prioritize privacy, transparency, and communication within the community.</strong></p>
    <p>Contribute by providing input or feedback on our <a href="@_strings.CommunityDocUrl">Community Document</a> or by commiting code to the <a href="@_strings.GitHubUrl">GitHub Repository</a></p>
</div>