@using PinkUmbrella.ViewModels.Home
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    var visibilities = new SelectList(Html.GetEnumSelectList<Visibility>(), "Value", "Text");
}

<div class="text-center">
    <partial name="_Covid19" />
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <h1>Hello, @Model.MyProfile.DisplayName</h1>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1 highlight-selected">
                    @foreach (var src in Enum.GetValues(typeof(FeedSource)).Cast<FeedSource>())
                    {
                        var liClass = src == Model.Source ? "selected" : "";
                        <li class="nav-item @liClass">
                            @switch (src) {
                                case FeedSource.Following:
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"><u>Following</u></a>
                                break;
                                case FeedSource.Mentions:
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Mentions"><u>Mentions</u></a>
                                break;
                                case FeedSource.Myself:
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="MyPosts"><u>Your Posts</u></a>
                                break;
                                default:
                                <span>Unknown</span>
                                break;
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>
<partial name="_NewPostForm" model="Model.NewPost" />
@if (Model.MyFeed.Total > 0)
{
<partial name="_FeedList" model="Model.MyFeed" />
}
else
{
    <hr />
    switch (Model.Source)
    {
        case FeedSource.Following:
        <p>You are not following anybody. Find people to follow by <a asp-action="Search" asp-controller="Home" asp-route-t="@SearchResultType.Profile">searching the community</a>!</p>
        break;
        case FeedSource.Mentions:
        <p>Nobody has mentioned you yet. Find someone by <a asp-action="Search" asp-controller="Home" asp-route-t="@SearchResultType.Profile">searching the community</a> and mention them by using their handle with a @@ infront, like <strong>@@viv</strong></p>
        break;
        case FeedSource.Myself:
        <p>You have not made any posts. Don't be shy!</p>
        break;
    }
}