@model UserProfileModel
<form asp-controller="Account" asp-action="UpdateAccount" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        @if (Model.EmailConfirmed)
        {
            <div class="input-group">
                <input asp-for="Email" class="form-control" />
                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
            </div>
        }
        else
        {
            <input asp-for="Email" class="form-control" />
            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verfication email</button>
        }
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    @* <div class="form-group">
        <label asp-for="Visibility"></label>
        <small>@Model.GetPropertyDescription(nameof(Model.Visibility))</small>
        <select asp-for="Visibility" class="form-control">
            <partial name="_EnumOptions" model="new EnumViewModel() { Type = typeof(Visibility), Selected = Model.Visibility }" />
        </select>
        <span asp-validation-for="Visibility" class="text-danger"></span>
    </div> *@
    <button type="submit" class="btn btn-success">Update Account</button>
</form>