@model PinkUmbrella.ViewModels.Developer.IndexViewModel
@{
    ViewData["Title"] = "Debug";
}

<partial name="_Header" />
<p>Debug page for developers</p>
<a asp-action="MakeMeDevAndAdmin" asp-controller"Developer">Make Me Dev and Admin</a>