@model ShopModel
<div class="contains-goto">
    <a class="goto" asp-controller="Shop" asp-action="Index" asp-route-handle="@Model.Handle">goto</a>
    <h3>@Model.DisplayName</h3>
    <partial name="Shop/Display" />
</div>