@model Tides.Core.BaseObject
<div class="contains-goto">
    <a class="goto" asp-controller="Shop" asp-action="Index" asp-route-id="@Model.id">goto</a>
    <h3>@Model.name</h3>
    <partial name="Shop/Display" />
</div>