@using PinkUmbrella.ViewModels
@model BaseViewModel
@{
    ViewData["Title"] = "Shops";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <p>There are currently no shops.</p>
    @if (Model.MyProfile == null)
    {
        <p><a asp-action="Register" asp-controller="Account">Create an account</a> or <a asp-action="Register" asp-controller="Account">login</a> to be the first to connect your business with locals</p>
    }
    else
    {
        <p>Be the first to connect your business with locals. Click <a asp-action="New" asp-controller="Shop">here</a> to create your storefront.</p>
    }
</div>
