@using seattle.ViewModels.Shop
@model ShopViewModel
@{
    ViewData["Title"] = "Shop";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    Coming soon...
</div>
