@using PinkUmbrella.ViewModels.Shop
@model IndexViewModel
@{
    ViewData["Title"] = "Shops";
}

<div>
    <h1>@ViewData["Title"]</h1>
    @if (Model.Categories != null)
    {
        foreach (var category in Model.Categories.Items)
        {
            <hr />
            <h3>@category.Tag.Tag (@category.UseCount)</h3>
            <p>@category.Tag.Topic</p>
            foreach (var shop in Model.ShopsByCategory[category.Tag.Id])
            {
                <ul>
                    <li><partial name="SearchResult/ShopSearchResult" model="shop" /></li>
                </ul>
            }
        }
    }
    else
    {
        foreach (var shop in Model.ShopsList)
        {
            <hr />
            <partial name="Shop/DisplayResult" model="shop" />
        }
    }
</div>
