@model TagEditorViewModel
@if (Model.Tags != null && Model.Tags.items != null && Model.Tags.items.Count > 0)
{
<div class="js-tag-display @Model.HtmlClasses" id="@Model.HtmlId" >
    @foreach (var tag in Model.Tags.items)
    {
        <partial name="Item" model="tag" />
    }
</div>
}