@using PinkUmbrella.ViewModels.Inventory
@model IndexViewModel

<hr />
@if (await _settings.FeatureManager.IsEnabledAsync(nameof(FunctionInventoryNewResource)))
{
<form asp-action="NewResourceIndex" asp-controller="Inventory" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NewResource.Resource.InventoryId"></label>
        <small>@Model.NewResource.Resource.GetPropertyDescription(nameof(Model.NewResource.Resource.InventoryId))</small>
        <select required asp-for="NewResource.Resource.InventoryId" class="form-control">
            @foreach (var i in Model.Inventories.Items.items)
            {
                <option value="@i.id" title="@i.summary">@i.name</option>
            }
        </select>
        <span asp-validation-for="NewResource.Resource.InventoryId" class="text-danger"></span>
    </div>
    <partial name="_NewResourceFields" model="Model.NewResource" />
</form>
}
else
{
    <p>Creating new resources has been turned off by site admin.</p>
}