@using PinkUmbrella.ViewModels.Inventory
@model IndexViewModel
<ul class="highlight-selected">
    @foreach (var r in Model.Resources.items)
    {
        var liClass = r.id == Model.SelectedId ? "selected" : "";
        var shortenDesc = r.summary.Substring(0, Math.Min(100, r.summary.Length));
        <li class="@liClass"><a asp-controller="Inventory" asp-action="Resource" asp-route-id="@r.id">@r.name - @shortenDesc</a></li>
    }
</ul>
