@using PinkUmbrella.ViewModels.Inventory
@model IndexViewModel
@{
    ViewData["Title"] = "Inventory";
    if (Model.Inventories.Items.items.Count > 0)
    {
        <partial name="Activity/List" model="Model.Inventories" />
        <div>
            <partial name="Activity/List" model="Model.Inventories" />
            <partial name="_InventoryList" />
            <h1>Resources from all inventories</h1>
            <partial name="Activity/List" model="Model.Resources" />
        </div>
        if (Model.AddResourceEnabled)
        {
            <partial name="_NewResourceIndex" />
        }
    }
    else if (Model.AddResourceEnabled)
    {
        <partial name="_NewInventory" model="Model.NewInventory" />
    }
}