@using PinkUmbrella.ViewModels.Inventory
@model IndexViewModel
@{
    ViewData["Title"] = "Inventory";
    if (Model.Inventories.totalItems > 0)
    {
        <div>
            <partial name="_InventoryList" />
            <h1>Resources from all inventories</h1>
            <partial name="_ResourceList" model="Model" />
        </div>
        if (Model.AddResourceEnabled)
        {
            <partial name="_NewResourceIndex" />
        }
    }
    else if (Model.AddResourceEnabled)
    {
        <partial name="_NewInventory" model="Model.NewInventory" />
    }
}