/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
  --accent-color: #ff97dd;
}

.accent-color {
  color: var(--accent-color);
}

.accent-border {
  border-color: var(--accent-color) !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a.navbar-brand .fa-umbrella {
  transform: scaleX(-1) rotate(20deg);
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid var(--accent-color) !important;
}
.border-bottom {
  border-bottom: 1px solid var(--accent-color) !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



ul.highlight-selected > li.selected {
  background: var(--accent-color);
}




.contains-goto:not(.show), .contains-ajax:not(.show) {
  cursor: pointer;
}

.contains-goto:not(.show):hover {
  background: rgba(0, 0, 0, 0.1);
}

.contains-goto:not(.show) > a.goto, .contains-ajax:not(.show) > a.ajax {
  display: none;
}



.form-group label {
  font-weight: bold;
  font-size: large;
}

.react-list {
  list-style: none;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: max-content;
  grid-auto-flow: column;
  padding: 0;
  text-align: center;
}







.center-xy {
  display: grid;
  grid-template-columns: max-content;
  align-items: center;
  justify-content: center;
}




.archived-media.image {
  width: 100%;
  max-height: 30vh;
  object-fit: contain;
  padding: 0.5rem;
}

.ui-widget.ui-widget-content {
  border-color: var(--accent-color);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background-color: var(--accent-color)  !important;
  border-color: var(--accent-color)  !important;
  color: white !important;
}

.js-tag-editor {
  padding: .5rem .25rem;
  height: auto;
}

.js-tag-display {
  padding: .25rem .125rem;
  height: auto;
}

.js-tag-editor .js-search-field {
  border: none;
  min-width: 20rem;
}

.js-tag-editor .js-tag-editor--url {
  position: absolute;
}

.js-tag-editor .js-search-field {
  margin: .25rem;
}

.js-tag-editor .js-tag-editor--tag, .js-tag-display .js-tag-display--tag {
  padding: .5rem;
  margin: .25rem;
  border-radius: 4px;
  color: white;
  background-color: var(--accent-color);
}

.js-tag-display .js-tag-display--tag {
  padding: .25rem;
  margin: .125rem;
}

.js-tag-editor .js-tag-editor--tag .js-tag-editor--delete-tag {
  cursor: pointer;
}

.js-new-post-form {
  display: grid;
  grid-template-columns: 2fr 3fr 5fr 1fr;
  grid-template-rows: max-content max-content;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
}

.js-new-post-form label, .js-new-post-form input {
  margin: 0;
}

.js-new-post-form input#Content {
  grid-column: span 3;
}