@using PinkUmbrella.ViewModels.Shop
@model IndexViewModel
@{
    ViewData["Title"] = "Shops by Tag";
}
<partial name="_Header" />
@if (Model.Categories != null)
{
    foreach (var category in Model.Categories.items)
    {
        <h3>@category.content (category.UseCount)</h3>
        <p>@category.summary</p>
        foreach (var shop in Model.ShopsByCategory[category.objectId.Value].items)
        {
            <ul>
                <li><partial name="SearchResult/ShopSearchResult" model="shop" /></li>
            </ul>
        }
        <hr />
    }
}
else
{
    foreach (var shop in Model.ShopsList.items)
    {
        <partial name="Shop/DisplayResult" model="shop" />
        <hr />
    }
}