@using PinkUmbrella.ViewModels.Profile;
@model ProfileViewModel
@{
    var reactBlock = new ReactViewModel() {
        Type = ReactionType.Block,
        Subject = ReactionSubject.Profile,
        ToId = Model.Profile.Id,
        HasReacted = Model.Profile.HasBlocked,
        Count = Model.Profile.BlockCount,
        ViewerId = Model.MyProfile?.Id,
        Enabled = true,
        ResponseHandler = "page-reload",
    };
}
<div class="contains-ajax show center-xy">
    <p>
        <span>You have blocked this profile.</span>
        <partial name="Button/ReactLink" model="reactBlock" />
    </p>
</div>