@using PinkUmbrella.ViewModels.Profile;
@model ProfileViewModel
@{
    var viewingOwnProfile = (Model.MyProfile?.UserId ?? -1) == Model.Profile.UserId;

    var reactLike = new ReactViewModel() {
        Type = ReactionType.Like,
        Subject = ReactionSubject.Profile,
        ToId = Model.Profile.PublicId,
        HasReacted = Model.Profile.HasLiked,
        Count = Model.Profile.Local.LikeCount,
        ViewerId = Model.MyProfile?.UserId,
        Enabled = !viewingOwnProfile,
    };
    var reactDislike = new ReactViewModel() {
        Type = ReactionType.Dislike,
        Subject = ReactionSubject.Profile,
        ToId = Model.Profile.PublicId,
        HasReacted = Model.Profile.HasDisliked,
        Count = Model.Profile.Local.DislikeCount,
        ViewerId = Model.MyProfile?.UserId,
        Enabled = !viewingOwnProfile,
    };
    var reactBlock = new ReactViewModel() {
        Type = ReactionType.Block,
        Subject = ReactionSubject.Profile,
        ToId = Model.Profile.PublicId,
        HasReacted = Model.Profile.HasBlocked,
        Count = Model.Profile.Local.BlockCount,
        ViewerId = Model.MyProfile?.UserId,
        Enabled = !viewingOwnProfile,
        ResponseHandler = "page-reload",
    };
    var reactReport = new ReactViewModel() {
        Type = ReactionType.Report,
        Subject = ReactionSubject.Profile,
        ToId = Model.Profile.PublicId,
        HasReacted = Model.Profile.HasReported,
        Count = Model.Profile.Local.ReportCount,
        ViewerId = Model.MyProfile?.UserId,
        Enabled = !viewingOwnProfile,
        ResponseHandler = "page-reload",
    };
    var reactFollow = new ReactViewModel() {
        Type = ReactionType.Follow,
        Subject = ReactionSubject.Profile,
        ToId = Model.Profile.PublicId,
        HasReacted = Model.Profile.HasFollowed,
        Count = Model.Profile.Local.FollowCount,
        ViewerId = Model.MyProfile?.UserId,
        Enabled = !viewingOwnProfile,
    };

    var reactions = new List<ReactViewModel>() {
        reactLike, reactDislike, reactBlock, reactReport, reactFollow
    };
    
    var tags = new TagEditorViewModel() { Tags = Model.Profile.Tags };
}
<h1>@Model.Profile.DisplayName</h1>
<i>@@@Model.Profile.Handle</i>
@if (viewingOwnProfile && Model.Profile.Visibility != Visibility.VISIBLE_TO_WORLD)
{
    switch (Model.Profile.Visibility)
    {
        case Visibility.HIDDEN:
        <span>&bull; Hidden to everyone</span>
        break;
        case Visibility.VISIBLE_TO_REGISTERED:
        <span>&bull; Visible to other users on this site</span>
        break;
        case Visibility.VISIBLE_TO_FOLLOWERS:
        if (Model.Profile.Id == Model.MyProfile?.Id)
        {
        <span>&bull; Only visible to your followers</span>
        }
        else
        {
        <span>&bull; Only visible to this user's followers</span>
        }
        break;
    }
}
<p>@Model.Profile.Bio</p>
<partial name="Tag/Display" model="tags" />
<partial name="Button/ReactButtonList" model="reactions" /></li>