@model List<UserProfileModel>
@if (Model.Count > 0)
{
    foreach (var result in Model)
    {
        <hr />
        <partial name="SearchResult/ProfileSearchResult" model="result" />
    }
}
else
{
    <p>No users to show.</p>
}