@using PinkUmbrella.ViewModels.Home
@model FeedModel
@if (Model.Items.Count > 0)
{
    foreach (var result in Model.Items) {
        <hr />
        <partial name="Post/_Container" model="result" />
    }
}
else
{
    <p>No posts to show.</p>
}